/hw1/src/helloWorld.X/build/
/hw1/src/helloWorld.X/dist/
/hw4/src/spi.X/build/
/hw4/src/spi.X/dist/
/hw5/i2c.X/build/
/hw5/i2c.X/dist/
/hw6/src/lcd.X/build/
/hw6/src/lcd.X/dist/
/hw7/src/imu.X/build/
/hw7/src/imu.X/dist/
/hw9/src/touchscreen.X/build/
/hw9/src/touchscreen.X/dist/
/hw10/src/cdc/firmware/cdc.X/build/
/hw10/src/cdc/firmware/cdc.X/dist/
/NewFolder/testTechCup.X/dist/
/NewFolder/testTechCup.X/build/